Source: libkpeople
Priority: optional
Maintainer: Diane Trout <diane@ghic.org>
Build-Depends: cmake,
               debhelper (>= 9),
               kdelibs5-dev,
               kdepimlibs5-dev,
               libtelepathy-qt4-dev,
               pkg-kde-tools (>= 0.9),
               shared-desktop-ontologies
Standards-Version: 3.9.5
Section: libs
Homepage: http://www.kde.org

Package: libkpeople-dev
Section: libdevel
Architecture: any
Depends: libkpeople3 (= ${binary:Version}), kdepimlibs5-dev, ${misc:Depends}
Description: development files for libkpeople
 Library providing metacontacts infrastructure based on Nepomuk
 .
 This package contains development files.

Package: libkpeople3
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library providing metacontacts infrastructure based on Nepomuk
 KPeople uses Nepomuk to allow grouping multiple accounts into a
 single identity.
 .
 This library allows you to read meta data and initiate
 various actions for a contact.

Package: libkpeople3-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libkpeople3 (= ${binary:Version}), ${misc:Depends}
Recommends: kdelibs5-dbg, nepomuk-core-dbg, libsoprano-dbg
Description: debug symbols for package libkpeople
 kpeople runtime library debugging symbols
